body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
}

/* PARTICLES */
#particles-js {
  background-color: #ead646;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.particles-header {
  padding: 30px;
  display: block;
}

.particles-header .overlay {
  width: 100%;
  height: 250px;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  right:0;
  background-color: rgba(0, 0, 0, 0.2);
}

.particles-header .title {
  position: relative;
  font-size: 34px;
  text-align: center;
  color: #2f2f31e0;
  margin: 20px 0px 30px 0px;
}

.particles-header .subhead {
  position: relative;
  text-align: center;
  color: #2f2f31e0;
  font-size: 20px;
}

.particles-header .cta-main {
  background-color: rgba(250, 235, 215, 0);
  border-radius: 10px;
  border: thin solid #2f2f31e0;
  color: black;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
  transition: all .5s;
}

.particles-header .cta-main:hover {
  background-color: #2f2f31e0;
  color: #ead646;
  border-color: #ead646;
}

.particles-header .header-content {
  margin-top: 30px;
  z-index: 99999;
}
/* PARTICLES */

.content {
  width: 100%;
  height: 955px;
}

#scene {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}